<div class="title-block">
  <h1>TIC-TAC-TOE</h1>
  <h2>{{game_count | ordinal}} Game</h2><h5>'O' starts first</h5>
</div>
<div>
  <ttt-board #board (winner)="wonBy($event)"></ttt-board>
</div>
<div id="score-board">
  <div id="player-1">
      <h3>Player 1: <span class="score">{{first_player_score}}</span></h3>
      <span class="logo" *ngIf="game_count%2==0">X</span>
      <span class="logo" *ngIf="game_count%2!=0">O</span>
  </div>
  <div id="player-2">
      <h3>Player 2: <span class="score">{{second_player_score}}</span></h3>
      <span class="logo" *ngIf="game_count%2!=0">X</span>
      <span class="logo" *ngIf="game_count%2==0">O</span>
  </div>
</div>